

    body{
        background-color: rgb(177, 109, 240);
    }

    .container{
        max-width: 1200px;
        margin: 0 auto;
    }
    .row {
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
        background-color: rgb(177, 109, 240);
        
        
      }
      .button {
        display: inline-block;
        padding: 15px 25px;
        font-size: 15px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #ffffff;
        background-color: rgb(201, 186, 215);
        border: none;
        border-radius: 15px;
        box-shadow: 0 5px #999;
        margin-top: 20px;
      }
    .button:hover {background-color: rgb(233, 230, 236)}

    .button:active {
        background-color: rgb(201, 186, 215);
        box-shadow: 0 5px #666666;
        transform: translateY(4px);
}
      .column{
        text-align: center;
        background-color: white;
        border-radius: 15px;
        padding: 1rem 0;
        flex: 1;
        
      }
      img{
        max-width: 200px;
        border-radius: 15px;
        border: 2px solid rgb(177, 109, 240);
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
      @media only screen and (max-width: 750px) {
        .row{
            flex-wrap: wrap;
        }
        .column{
            flex-basis: 100%;
        }
      
}

